.table{
  background: transparent;
  color: #FFFFFF;
  display: inline-block;
  border-spacing: 0;
  //border: 1px solid black;
}


.tbody .tr{
  border-radius: 5px;
}


.thead{

}

.test{
  margin-bottom: 5px;
  background: #22282e;
  border-radius: 5px;
}