.table {
  background: transparent;
  color: #ffffff;
  display: inline-block;
  border-spacing: 0;
  font-family: "Rubik", sans-serif;
}
.tbody .tr {
  border-radius: 5px;
}
.tr{
  position: relative;
}
th
{
  position: relative;
}

.thead {
  color: #babcbd;
  font-weight: bold;
  font-size: 13px;
}
.test {
  margin-bottom: 5px;
  background: #22282e;
  border-radius: 5px;
}

.td {
  color: #babcbd;
  font-size: 15px;
  text-align: left;
 
}

.checkboxWrapper
{
  display: inline-block;
  position: relative;

}






