.FirstWrapper
{
  width: 10%;
  height: 30%;
 
}

.headerHorizontalLine
{
  bottom: 15px;
    height: 0px;
    width: 17px;
    display: inline-block;
    border: 1px solid #e8e8e9;
    position: absolute;
    left: 15%;
}
.headerHorizontalLine1
{
  bottom: 20px;
  width: 11px;
  position: absolute;
}
.headerHorizontalLine2
{
  top: 11px;
   width: 7px;
   position: absolute;
  
}