.statusCommonStyle
{
  height: 0px;
    width: 17px;
    display: inline-block;
    border: 1px solid #8c8c8f;
    right: 23%;
}
.statusHorizontalLine3{
    bottom: 20px;
    position: absolute;
   
  }
  
  .statusHorizontalLine2{
    bottom: 16px;
      position: absolute;
  }
  .statusHorizontalLine1{
    top: 11px;
      position: absolute;
  }