.secondWrapper
{
  width: 10%;
  height: 20%;
  
}
.headerHorizontalLine
{
  bottom: 16px;
    height: 0px;
    width: 17px;
    display: inline-block;
    border: 1px solid #e8e8e9;
    position: absolute;
    left: 16%;
}

.headerHorizontalLine3
{border: 1px solid #8c8c8f;
  left: 31%;
}
.headerHorizontalLine4
{ bottom: 20px;
  left: 31%;
  border: 1px solid #8c8c8f;
}
.headerHorizontalLine5
{ top: 11px;
  left: 31%;
  border: 1px solid #8c8c8f;
}